<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssj.biz.dao.UserInfoDao">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info (
        	id ,
        	UserName ,
        	PhoneNumber ,
        	SecrectCode ,
        	SecrectSalt ,
        	CreatTime ,
        	UpdateTime 
        ) VALUES (
        	#{id} ,
        	#{userName} ,
        	#{phoneNumber} ,
        	#{secrectCode} ,
        	#{secrectSalt} ,
        	#{creatTime} ,
        	#{updateTime} 
        )
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
    
	<update id="update">
        UPDATE user_info SET
	        UserName = #{userName} ,
	        PhoneNumber = #{phoneNumber} ,
	        SecrectCode = #{secrectCode} ,
	        SecrectSalt = #{secrectSalt} ,
	        CreatTime = #{creatTime} ,
	        UpdateTime = #{updateTime} 
        WHERE 
	        id = #{id} 
	</update>

    <delete id="delete" parameterType="java.util.Map">
        DELETE FROM user_info WHERE
        id = #{id} 
    </delete>
    
    <select id="getById" parameterType="java.util.Map" resultType="com.ssj.common.po.UserInfoPo">
    	SELECT *
	    FROM user_info 
        WHERE 
	        id = #{id} 
	</select>
	
	<sql id="where">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(userName)">
				AND UserName = #{userName}
			</if>
	       <if test="@Ognl@isNotEmpty(phoneNumber)">
				AND PhoneNumber = #{phoneNumber}
			</if>
	       <if test="@Ognl@isNotEmpty(secrectCode)">
				AND SecrectCode = #{secrectCode}
			</if>
	       <if test="@Ognl@isNotEmpty(secrectSalt)">
				AND SecrectSalt = #{secrectSalt}
			</if>
	       <if test="@Ognl@isNotEmpty(creatTimeBegin)">
				AND CreatTime >= #{creatTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(creatTimeEnd)">
				AND CreatTime &lt;= #{creatTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND UpdateTime >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND UpdateTime &lt;= #{updateTimeEnd}
		   </if>
		</where>
	</sql>

    <select id="select" parameterType="java.util.Map" resultType="com.ssj.common.po.UserInfoPo">
    	SELECT *
	    FROM user_info 
		<include refid="where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

